@font-face {
	font-family: 'Futura';
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
	font-weight: 800;
	font-style: normal;
}
